{% from 'ash-windows/map.jinja' import ash with context %}

{# Import policies from yaml files. #}
{% import_yaml tpldir ~ '/iavm.yml' as iavm_policies %}

{#
    If the yaml file is empty, `import_yaml` returns None. Change that to an
    empty list so that `ash_lgpo.present` interprets it properly.
#}
{% set iavm_policies = iavm_policies or [] %}

{# Define the `iavm` dictionary #}
{% set iavm = ash or {} %}
{% do iavm.update({
    'iavm_policies': iavm_policies,
}) %}
