version: '{branch}-{build}'
build: off
image: Visual Studio 2017
environment:
  global:
    SALT_FILEROOT: '%APPVEYOR_BUILD_FOLDER%'
    SALT_URL: https://repo.saltproject.io/windows/Salt-Minion-3003.3-Py3-AMD64-Setup.exe
    SALT_PILLARROOT: '%APPVEYOR_BUILD_FOLDER%\tests\pillar\test-windows-main'
  matrix:
    - SALT_STATE: ash-windows
    - SALT_STATE: ash-windows.sct
    - SALT_STATE: ash-windows.stig
    - SALT_STATE: ash-windows.delta
    - SALT_STATE: ash-windows.cis_1_3_0
    - SALT_STATE: ash-windows.custom
matrix:
  fast_finish: true

init:
  - ps: echo $env:PILLAR_HOME
install:
  - set PATH=C:\Python36-x64;C:\Python36-x64\Scripts;%PATH%
  - python --version
  - ps: python -m ensurepip
  - ps: python -m pip install --upgrade pip
  - ps: python -m pip install yamllint
  - ps: |
      $null = `
        (new-object net.webclient).DownloadFile(${env:SALT_URL}, `
        "${env:temp}\salt-minion.exe")
  - ps: |
      $null = `
        Start-Process -FilePath "${env:temp}\salt-minion.exe" `
        -ArgumentList "/S" -NoNewWindow -PassThru -Wait
  - ps: C:\salt\salt-call.bat --versions-report

test_script:
  - ps: >
      yamllint -d
      "{extends: default, rules: {line-length: false, document-start: false, truthy: false}}"
      .
  - ps: |
      C:\salt\salt-call.bat --local --retcode-passthrough `
        --log-file-level debug `
        --file-root="${env:SALT_FILEROOT}" `
        --pillar-root="${env:SALT_PILLARROOT}" `
        state.show_sls `
        "${env:SALT_STATE}"
  - ps: |
      C:\salt\salt-call.bat --local --retcode-passthrough `
        --log-file-level debug `
        --file-root="${env:SALT_FILEROOT}" `
        --pillar-root="${env:SALT_PILLARROOT}" `
        --module-dirs="${env:SALT_FILEROOT}\_modules" `
        --states-dir="${env:SALT_FILEROOT}\_states" `
        state.sls `
        "${env:SALT_STATE}" `
        mock=True

on_failure:
  - ps: C:\salt\salt-call.bat --local grains.items
  - ps: dir "env:"
  - ps: get-content C:\salt\var\log\salt\*

### To enable remote debugging uncomment this (also, see: http://www.appveyor.com/docs/how-to/rdp-to-build-worker):
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
