#Settings configured in pillar will override default settings specified in map.jinja
ash-windows:
  lookup:
    logdir: 'C:\Ash\logs'
    salt_ash_root: 'salt://ash-windows'
    system_ash_root: 'C:\salt\srv\formulas\ash-windows-formula\ash-windows'

  role: 'MemberServer'
